.container {
  display: flex;
  justify-content: center;
}

.form {
  width: 70%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background: linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #ec173a;
}
.form > input {
  height: 2rem;
  flex: 0.8;
}
.form > button {
  height: 2.37rem;
  flex: 0.2;
  background-color: rgba(40, 43, 218, 0.849);
  color: white;
  border: none;
}
